<FilesMatch "(?i)(^config.*\.php$|\.(sqlite|sqlite-shm|sqlite-wal|sql|md|example\.php)$)">
    Require all denied
</FilesMatch>

RewriteEngine On
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
