<VirtualHost *:80>
    ServerName {{ gratulationsdienst_direct_hostname }}
    RewriteEngine On
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=308,L,NE]
</VirtualHost>

<IfModule mod_ssl.c>
    <VirtualHost *:443>
        ServerName {{ gratulationsdienst_direct_hostname }}
        DocumentRoot /var/www/html

        SSLEngine on
        SSLCertificateFile {{ gratulationsdienst_direct_tls_dir }}/fullchain.pem
        SSLCertificateKeyFile {{ gratulationsdienst_direct_tls_dir }}/privkey.pem

        <Directory /var/www/html>
            AllowOverride FileInfo AuthConfig
            Options -Indexes
            AcceptPathInfo On
            Require all granted
        </Directory>

        DirectoryIndex index.html
        Header always set Strict-Transport-Security "max-age=31536000"
        Header always set X-Content-Type-Options "nosniff"
        Header always set X-Frame-Options "SAMEORIGIN"
        Header always set Referrer-Policy "strict-origin-when-cross-origin"

        ErrorLog ${APACHE_LOG_DIR}/gratulationsdienst-error.log
        CustomLog ${APACHE_LOG_DIR}/gratulationsdienst-access.log combined
    </VirtualHost>
</IfModule>
