<?php
return [
    'dsn' => 'mysql:host={{ gratulationsdienst_direct_db_host }};port=3306;dbname={{ gratulationsdienst_direct_db_name }};charset=utf8mb4',
    'user' => '{{ gratulationsdienst_direct_db_user }}',
    'password' => '{{ gratulationsdienst_direct_db_password }}',
    'connect_timeout' => 5,
    'options' => [],
    'app_url' => '{{ gratulationsdienst_direct_app_url }}',
    'mail_from' => '{{ gratulationsdienst_direct_mail_from }}',
    'mail_from_name' => '{{ gratulationsdienst_direct_mail_from_name }}',
];
